<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/styles/index.css">
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center py-5">Blog Title</h1>
        <a class="new-post" href="/posts/new">New Post</a>
        <div class="cards-container pb-5">
            <% posts.forEach(post => { %>
                <div class="card position-relative">
                    <h3 class="card-title">
                        <%= post.title %> 
                    </h3>
                    <div class="card-subtitle date mb-2">
                        <%= post.createdAt.toLocaleDateString() %> 
                    </div>
                    <div class="card-desc">
                        <% if (post.description.length > 70) { %> 
                            <%= post.description.substring(0, 70) %>...
                        <% } %> 
                    </div>
                    <a class="card-link" href="posts/<%= post.slug %>">Continue reading</a>
                    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST" >
                        <div class="btn-group">
                        <a href="/posts/edit/<%= post.id %>"><i class="fas fa-edit"></i></a>
                        <button type="submit" class="delete-btn"><i class="fas fa-trash"></i></button>
                    </div>
                    </form>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>